/* .student .header{
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(#4fc1ac,linen);
    color:#cde36a;
    padding: 10px;
    text-shadow: 2px 2px 5px rgb(201, 11, 11) ;
}

table{
    margin: auto;
    margin-top: 5px;
} */