.stdDetails table{
    /* width: 100%; */
    margin: auto;
    border: 1px solid white;
    margin-top: 10px;
    
}

.stdDetails th, .stdDetails td{
   
    width: 10vw;
    height: 7vh;
}
/* 
.stdDetails tr{
    background-color: rgb(41, 151, 151);
    color: white;
} */

.stdDetails tr td{
    background-color: rgb(15, 126, 126);
    color: white;
}

.stdDetails table thead{
    background-color: rgb(3, 13, 75);
    color: white;
    /* font: 100px; */
}

.stdDetails .viewBtn{
   padding: 5px 20px;
   border-radius: 10px;
   border: none;
   box-shadow: 2px 3px 8px inset purple;
   font-weight:600;
   cursor: pointer;
   color: rgb(83, 79, 79);
}

.stdDetails .viewBtn:hover{
    background-color: purple;
    color: white;
}
.stdDetails .deleteBtn{
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 8px inset red;
    font-weight:600;
    cursor: pointer;
    color: rgb(83, 79, 79);
 }
 
 .stdDetails .deleteBtn:hover{
    background-color: red;
    color: white;
}

.stdDetails button{
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    /* width: 1; */
    box-shadow: 3px 3px 8px inset red;
    font-weight:600;
    cursor: pointer;
    color: rgb(83, 79, 79);
}